.btn-pre
    {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: none;
      margin: 2px;
    }
    .btn-editar
    {
      color: rgb(128, 139, 150);
      border: 1px solid rgb(52, 152, 219);
      background: rgb(255,255,255);
      transition: .2s;
    }
    .btn-eliminar
    {
      color: rgb(128, 139, 150);
      border: 1px solid rgb(231, 76, 60);
      background: rgb(255,255,255);
      transition: .2s;
    }
    .btn-eliminar:hover
    {
      color: rgb(255,255,255);
      background: rgb(231, 76, 60);
    }
     .btn-editar:hover
    {
      color: rgb(255,255,255);
      background: rgb(52, 152, 219);
    }
    .list
    {
      background: url("/img/file.png");
      width: 200px;
      height: 200px;
    }
    .list2
    {
      width: 200px;
      height: 200px;
    }
    /* modal curso */
    .modal-header
    {
      background: url("/img/desing/12.jpg");
      height: 150px;
    }
    .modal-header h3
    {
      color: rgb(255,255,255);
      font-size: 40px;
    }
    .noom, .descrii, .cuup, .claav, .cco
    { 
      width: 100%;
      outline: none;
      padding: 15px;
      background: none;
      border: none;
      border-bottom: 2px solid rgb(220,220,220);
      color: rgb(52, 152, 219);
      font-size: 15px;
    }
    .noom:focus, .noom:active, .descrii:focus, .descrii:active,
    .cuup:focus, .cuup:active, .claav:focus, .claav:active,
    .cco:focus, .cco:active
    {
      outline: none;
      border-bottom: 2px solid rgb(52, 152, 219);
      color: rgb(52, 152, 219);
    }

    .btn-button-c
    {
      background: rgb(255,255,255);
      border: none;
      border: 1px solid rgb(192, 57, 43) ;
      width: 150px;
      height: 40px;
      margin: 5px;
      padding: 5px;
      color: rgb(192, 57, 43);
      transition: .6s;
    }
    .btn-button-a
    {
      background: rgb(255,255,255);
      border: none;
      border: 1px solid rgb(39, 174, 96) ;
      width: 150px;
      height: 40px;
      margin: 5px;
      padding: 5px;
      color: rgb(39, 174, 96);
      transition: .6s;
    }
    .btn-button-c:hover
    {
      background: rgb(192, 57, 43);
      color: rgb(255,255,255);
    }
    .btn-button-a:hover
    {
      background: rgb(39, 174, 96);
      color: rgb(255,255,255);
    }


  /* imagen principal*/
    #pri1
    {
      height: 350px;
      width: 100%;
    }
    h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    margin: 5px;
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 rgb(52, 152, 219), 0 0 0 1px rgb(52, 152, 219);
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    background: rgb(255,255,255);
    border: none;
    border-top: 1px solid rgb(93, 173, 226);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgb(52, 152, 219);
    margin: 3px;
}
.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    color: rgb(44, 62, 80);
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgb(255,255,255);
}
#ptext-body
{
  text-align: center;
  color: rgb(52, 152, 219);
}
#ptext
{
  text-align: center;
  color: rgb(255,255,255)
}
.tex-body
{
  border: 1px solid rgb(52, 152, 219);
  border-radius: 10px;
}
.card-footer-success {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    background: rgb(52, 152, 219);
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgb(52, 152, 219) !important;
}
.card-footer-danger {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    background: rgb(231, 76, 60);
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgb(231, 76, 60) !important;
}
.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}
.profile {
    position: absolute;
    top: -23px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    margin: 0;
    border: 2px solid rgb(52, 152, 219);
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}
.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}
#label-color
{
  color: rgb(33, 47, 61);
}
.btn-pree
{
  border: none;;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: rgb(255,255,255);

}
.titulo
{
  position: relative; 
  top: -90%;
  text-align: center;
  color: rgb(255,255,255);
}
