#pri1
    {
      height: 350px;
      width: 100%;
    }

    .perfildiv
  {
    background: rgb(244, 246, 246);
    height: 500px;
  }
  #imgperfil
  {
    width: 175px;
    height: 250px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .btn-registro
  {
    width: 50%;
    height: 50px;
    background: rgb(255,255,255);
    border:none;
    border: 1px solid rgb(220,220,220);
    font-size: 20px;
    color: #666;
    transition: .7s;
  }
  .btn-registro:hover
  {
    border: 1px solid rgb(52, 152, 219);
    background: rgb(52, 152, 219);
    color: rgb(255,255,255);
  }

.clave
{
  width: 100%;
  outline: none;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid rgb(220,220,220);
  font-size: 20px;
  text-align: center;
}
.clave:focus, .clave:active
{
  outline: none;
  border-bottom: 2px solid rgb(52, 152, 219);
  color: rgb(52, 152, 219);
}
.curse
{
  border: 1px solid rgb(220,220,220);
  padding: 10px;
}
.unidad
{
  border: 1px solid rgb(220,220,220);
  width: 100%;
  height: auto;
  padding: 15px;
  margin: 5px;
  font-size: 17px;
  transition: .7s;
}
.unidad:hover
{
  border: 1px solid rgb(52, 152, 219);
  color: rgb(52, 152, 219);
  border-radius: 5px;
}
.starr
{
  color: rgb(133, 193, 233);
  font-size: 20px;
}
#profe
{
  width: 150px;
  height: 200px;
}
.star
{
  color: rgb(245, 176, 65);
}
#uninom{
  width: 100%;
}
.separar
{
  width: 150%;
}
.final
{
  width: 95%;
  margin: 5px;
  border: none;
  background: none;
  border: 1px solid rgb(220,220,220);
  border-radius: 20px;
  color: rgb(128, 139, 150);
}
.prueba
{
  width: 95%;
  margin: 5px;
  border: none;
  background: none;
  border: 1px solid rgb(220,220,220);
  border-radius: 20px;
  color: rgb(128, 139, 150);
}
.final:hover{
  border: 1px solid rgb(46, 204, 113);
  color: rgb(46, 204, 113);
}
.prueba:hover{
  border: 1px solid rgb(142, 68, 173);
  color: rgb(142, 68, 173);
}
.ancho
{
  width: 75%;
}
.table
{
  width: 100%;
}

    #respuestaid
    {
      width: 100%;
    }


    #ress
    {
      width: 4%;
    }
    #separador
    {
      width: 1%;
      color: rgb(191, 201, 202);
    }
    .si
    {
      color: rgb(130, 224, 170);
    }
    .no
    {
      color: rgb(241, 148, 138);
    }
    table td
    {
      border-bottom: 1px solid rgb(220,220,220);
    }
     table td:hover
    {
      border-bottom: 1px solid rgb(52, 152, 219);
    }
.msj-time
{
  border: 1px solid rgb(46, 204, 113);
  width: 30%;

}
.msj-time-error
{
  border: 1px solid rgb(231, 76, 60);
  width: 30%;

}
.cuadro
{
  border-radius: 6px;
  border: 3px solid rgb(220,220,220);
  background: rgb(255,255,255);
  margin: 5px;
  transition: .7s;
}
.cuadro-success
{
  border-radius: 6px;
  border: 3px solid rgb(46, 204, 113);
  background: rgb(255,255,255);
  margin: 5px;
  transition: .7s;
}
.cuadro:hover
{
  background: rgb(255,255,255);
  border: 3px solid rgb(52, 152, 219);
}
.cuadro-error
{
  border-radius: 6px;
  border: 3px solid rgb(231, 76, 60);;
  background: rgb(255,255,255);
  margin: 5px;
  transition: .7s;
}
input[type=checkbox]
{

  background: rgb(52, 152, 219);
  color: red;

  width: 22px;
    height: 22px;
}
input[type=checkbox]:checked{
  color: red;
  background: rgb(52, 152, 219);

}
.success{
  color: rgb(46, 204, 113);
}
.danger
{
  color: rgb(231, 76, 60);
}
#mensajeerror
{
  text-align: center;

}
.btn-finalizar
{
  width: 100%;
  height: 45px;
  font-size: 17px;
}
.titulo
{
  position: relative;
  top: -90%;
  text-align: center;
  color: rgb(255,255,255);
}

.divcal
  {
    border:1px solid rgb(46, 204, 113);
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  img
  {
    width: 100px;
    height: 100px;
  }
  h1,h2,h3,p,#tiempo
{
  font-family: 'Poiret One', cursive;
}
h2
{
  font-size: 40px;
  color: rgb(46, 204, 113);
}
p
{
  font-size: 20px;
}
#tiempo
{
  font-size: 20px;
}