.seccionone
{
  height: 150px;
 /*background: rgb(52, 73, 94);*/
  background: url(/img/pri1.jpg);
}

#pri1
{
  height:200px;
  width: 100%;


  /*Modal actualizar datos*/
}.modal-header
    {
      background: url(/img/desing/12.jpg);
      height: 100px;
    }
    .modal-header h3
    {
      color: rgb(255, 255, 255);
      font-size: 30px;
    }
    #pri1
    {
      height: 200px;
      width: 100%;
    }
    #pri2
    {
      border-radius: 50%;
      width: 240px;
      height: 240px;
      position: relative;
      top: -50px;
      border: 5px solid rgb(253, 254, 254);
    }
    #updatefoto
    {
      border-radius: 50%;
      width: 250px;
      height: 250px;
      border: 5px solid rgb(93, 173, 226);
    }
    label
    {
      color: rgb(153, 163, 164);
    }
    table
    {
      width: 80%;
    }
    td
    {
      width: 50%;
    }
    #span
    {
      font-size: 20px;
    }
    #editar
    {
      float: right;
    }
    .btn-editar
    {
      border: none;
      width: 40px;
      height: 40px;
      background: rgb(255,255,255);
      border-radius: 50%;
      border: 1px solid rgb(46, 204, 113);
      color: rgb(46, 204, 113);
      margin: 0px;
      padding: 0px;
    }
    .btn-editar:hover
    {
      background:  rgb(46, 204, 113);
      color: rgb(255,255,255);
    }
    .btn-user
    {
      border: none;
      width: 40px;
      height: 40px;
      background: rgb(255,255,255);
      border-radius: 50%;
      border: 1px solid rgb(41, 128, 185);
      color: rgb(41, 128, 185);
      margin: 0px;
      padding: 0px;
    }
    .btn-user:hover
    {
      background:  rgb(41, 128, 185);
      color: rgb(255,255,255);
    }
    h1
    {
      position: relative;
      top: -50px;
      font-family: 'Poiret One', cursive;
      font-size: 40px;
      color: rgb(0, 51, 102);
    }
     h3
    {
      font-family: 'Poiret One', cursive;
      font-size: 20px;
      color: rgb(0, 51, 102);
    }
    #editimg
    {
      border: none;
      width: 40px;
      height: 40px;
      background: rgb(255,255,255);
      border-radius: 50%;
      border: 1px solid rgb(178, 186, 187);
      color: rgb(178, 186, 187);
      margin: 0px;
      padding: 0px;
    }
    #editimg:hover
    {
      background:  rgb(46, 204, 113);
      border: 1px solid rgb(46, 204, 113);
      color: rgb(255,255,255);
    }
     .btn-button-c
    {
      background: rgb(255,255,255);
      border: none;
      border: 1px solid rgb(192, 57, 43) ;
      width: 150px;
      height: 40px;
      margin: 5px;
      padding: 5px;
      color: rgb(192, 57, 43);
      transition: .6s;
    }
    .btn-button-a
    {
      background: rgb(255,255,255);
      border: none;
      border: 1px solid rgb(39, 174, 96) ;
      width: 150px;
      height: 40px;
      margin: 5px;
      padding: 5px;
      color: rgb(39, 174, 96);
      transition: .6s;
    }
    .btn-button-c:hover
    {
      background: rgb(192, 57, 43);
      color: rgb(255,255,255);
    }
    .btn-button-a:hover
    {
      background: rgb(39, 174, 96);
      color: rgb(255,255,255);
    }

    .nom, .ap, .am, .edad, .mat, .email, .callee, .col, .est, .cd, .pais
    {
      width: 100%;
      outline: none;
      padding: 15px;
      background: none;
      border: none;
      border-bottom: 2px solid rgb(220,220,220);
      color: rgb(52, 152, 219);
      font-size: 15px;
    }
      .nom:focus, .nom:active ,.ap:focus, .ap:active,
      .am:focus, .am:active ,.edad:focus, .edad:active,
      .mat:focus, .mat:active ,.email:focus, .email:active,
      .callee:focus, .callee:active ,.col:focus, .col:active,
      .est:focus, .est:active ,.cd:focus, .cd:active,
      .pais:focus, .pais:active
    {
      outline: none;
      border-bottom: 2px solid rgb(52, 152, 219);
      color: rgb(52, 152, 219);
    }

    .user, .pass, .email
    {
      width: 100%;
      outline: none;
      padding: 15px;
      background: none;
      border: none;
      border-bottom: 2px solid rgb(220,220,220);
      color: rgb(52, 152, 219);
      font-size: 15px;
    }
    .user:focus, .user:active ,.pass:focus, .pass:active
    .email:focus, .email:active
    {
      outline: none;
      border-bottom: 2px solid rgb(52, 152, 219);
      color: rgb(52, 152, 219);
    }