
.panelhistoria
{
	z-index: 4;
	position: relative;
	height: auto;
	top: -20px;

}
.seccionone
{
  height: 300px;
  background: rgb(46, 134, 193);

}
.subpanelhistoria
{
	background: rgb(255,255,255);
	height: auto;
	position: relative;
	z-index: 2;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.subpanelhistoria p{
	font-size: 20px;
	text-align: justify;
	font-family: 'Josefin Sans', sans-serif;
}
#titulo{
    color: rgb(18, 8, 117 );
    font-size: 25px;
    font-style: arial;
}
#subtitulo{
    color: rgb(18, 8, 117);
    font-size: 20px;
    font: oblique bold 200% cursive;    
}

#conten{
    color: rgb(18, 8, 117 );
    font-size: 15px;
    font:  oblique bold 120% cursive;
  }
#hr {
  height: 10px;
  width: 30%;
}
#escudo
{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
#secre
{
    width: 280px;
    height: 80px;
}
.contenerdor1
{
	background: rgb(31, 97, 141); 
	z-index: 3;
	position: relative;
	height: 300px;
	top: -40px;
}

h1,h2,h3,h4
{
	font-family: 'Poiret One', cursive;
}
h1{
  font-size: 60px;
}
#centradop
{
  text-align: center;
}
#divimg
{
	width: 100px;
	height: 100px;
}
.panels
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
}
.panelcursos
{
  background: rgb(255,255,255);
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#escu
{
	width: 200px;
	height: 200px;
}


::-webkit-scrollbar {
      width: 6px;
      height: 6px;

}
::-webkit-scrollbar-track {
      background-color: rgb(242, 243, 244);
       border-radius: 10px;
}
::-webkit-scrollbar-thumb {
      background-color: rgb(93, 173, 226);
       border-radius: 10px;

}
::-webkit-scrollbar-corner {
      background-color: black;
}


