
.panelhistoria
{	
	z-index: 4;
	position: relative;
	height: auto;
	top: -20px;

}
.subpanelhistoria
{
	background: rgb(255,255,255);
	height: auto;	
	position: relative;
	z-index: 2;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
}
.subpanelhistoria h2
{
	font-family: 'Poiret One', cursive;
}
.subpanelhistoria p{
	font-size: 20px;
	text-align: justify;
	font-family: 'Josefin Sans', sans-serif;
}
.contenerdor1
{
	background: rgb(192, 57, 43);
	z-index: 3;	
	position: relative;
	height: auto;
	top: -40px;
}
h1
{
	color: red;
	font-family: 'Poiret One', cursive;
}
#divimg
{
	width: 100px;
	height: 100px;
}
.panelimg
{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  

}


::-webkit-scrollbar {
      width: 6px;

}
::-webkit-scrollbar-track {
      background-color: rgb(242, 243, 244);
       border-radius: 10px;
} 
::-webkit-scrollbar-thumb {
      background-color: rgb(93, 173, 226);
       border-radius: 10px;

}
::-webkit-scrollbar-corner {
      background-color: black;
}