/* inicio navbar */
.navbar-default .navbar-brand {
    color: rgb(0, 66, 112);
    height: 60px;

}
.navbar-default {
    font-size: 15px;
    background-color: rgba(255,255,255, 1);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 5;
}
.navbar-default .navbar-nav>li>a {
    color: rgb(40, 116, 166);

}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: rgba(102, 102, 102, 1);
    /*background-color: rgba(255, 255, 255, 1);*/
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
   /* color: rgba(85, 85, 85, 1); */
    background-color: rgba(255, 255, 255, 1);
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: ;: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #184cdb;
}
/* Fin navbar */
