.numero
{
    border-radius: 50%;
    margin: 3px;
    width: 50px;
    height: 50px;
    padding: 12px;
    border: 1px solid rgb(52, 152, 219);
    color: rgb(52, 152, 219);
    text-align: center;
    font: 20px Arial, sans-serif;
}

.inputoculto
{
  width: 0px;
  height: 0px;
  border: none;
}
#pri1
{
  height: 350px;
  width: 100%;
}
#alumnosimg
{
  width: 50px;
  height: 50px;
  margin: 5px;
}
.cuadro
{
  border-radius: 6px;
  border: 1px solid rgb(220,220,220);
  background: rgb(255,255,255);
  margin: 5px;
  transition: .7s;
}
.cuadro:hover
{
  background: rgb(255,255,255);
  border: 1px solid rgb(200,200,200);
}
#textcenter
{
  margin: 5px;
  text-align: center;
  font-size: 17px;
  padding: 15px;
}
#textcenterunidad
{
  text-align: center;
  font-size: 19px;
}
.aprobada
{
  color: rgb(72, 201, 176);
  font-size: 17px;
}
.pendiente
{
  color: rgb(236, 112, 99);
  font-size: 17px;
}
.unidadicon
{
  font-size: 25px;
}

.btn-aprobar
{
  border-radius: 4px;
  border: none;
  border: 1px solid rgb(46, 204, 113);
  background: none;
  padding: 5px;
  margin: 15px;
  width: 100%;
  transition: .3s;
}
.btn-denegar
{
  border-radius: 4px;
  border: none;
  border: 1px solid rgb(231, 76, 60);
  background: none;
  padding: 5px;
  margin: 15px;
  width: 100%;
  transition: .3s;
}
.btn-ver
{
  border-radius: 4px;
  border: none;
  border: 1px solid rgb(52, 152, 219);
  background: none;
  padding: 5px;
  margin: 15px;
  width: 100%;
  transition: .3s;
}
.btn-ver:hover
{
  background: rgb(52, 152, 219);
  color: rgb(255,255,255);
}
.btn-denegar:hover
{
  background: rgb(231, 76, 60);
  color: rgb(255,255,255);
}
.btn-aprobar:hover
{
  background: rgb(46, 204, 113);
  color: rgb(255,255,255);
}


.borderunidad
    {
      border: 1px solid rgb(230,230,230);
    }
    #respuestaid
    {
      width: 100%;
    }
    .btn-pre
    {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: none;
      margin: 2px;
    }
    .btn-editar
    {
      color: rgb(128, 139, 150);
      border: 1px solid rgb(52, 152, 219);
      background: rgb(255,255,255);
      transition: .2s;
    }
    .btn-eliminar
    {
      color: rgb(128, 139, 150);
      border: 1px solid rgb(231, 76, 60);
      background: rgb(255,255,255);
      transition: .2s;
    }
    .btn-eliminar:hover
    {
      color: rgb(255,255,255);
      background: rgb(231, 76, 60);
    }
     .btn-editar:hover
    {
      color: rgb(255,255,255);
      background: rgb(52, 152, 219);
    }
    #ress
    {
      width: 4%;
    }
    #separador
    {
      width: 1%;
      color: rgb(191, 201, 202);
    }
    .si
    {
      color: rgb(130, 224, 170);
    }
    .no
    {
      color: rgb(241, 148, 138);
    }
    table
    {
      width: 100%;
    }
    /* modal curso */
    .modal-header
    {
      background: url("/img/desing/12.jpg");
      height: 150px;
    }
    .modal-header h3
    {
      color: rgb(255,255,255);
      font-size: 40px;
    }
    .ppre, .resp1, .resp2, .resp3, .resp4
    {
      width: 100%;
      outline: none;
      padding: 15px;
      background: none;
      border: none;
      border-bottom: 2px solid rgb(220,220,220);
      color: rgb(52, 152, 219);
      font-size: 15px;
    }
    .ppre:focus, .ppre:active, .resp1:focus, .resp1:active,
    .resp2:focus, .resp2:active, .resp3:focus, .resp3:active,
    .resp4:focus, .resp4:active
    {
      outline: none;
      border-bottom: 2px solid rgb(52, 152, 219);
      color: rgb(52, 152, 219);
    }

    .btn-button-c
    {
      background: rgb(255,255,255);
      border: none;
      border: 1px solid rgb(192, 57, 43) ;
      width: 150px;
      height: 40px;
      margin: 5px;
      padding: 5px;
      color: rgb(192, 57, 43);
      transition: .6s;
    }
    .btn-button-a
    {
      background: rgb(255,255,255);
      border: none;
      border: 1px solid rgb(39, 174, 96) ;
      width: 150px;
      height: 40px;
      margin: 5px;
      padding: 5px;
      color: rgb(39, 174, 96);
      transition: .6s;
    }
    .btn-button-c:hover
    {
      background: rgb(192, 57, 43);
      color: rgb(255,255,255);
    }
    .btn-button-a:hover
    {
      background: rgb(39, 174, 96);
      color: rgb(255,255,255);
    }
    .titulo
{
  position: relative;
  top: -90%;
  text-align: center;
  color: rgb(255,255,255);
}
