.numero
{
    border-radius: 50%;
    margin: 3px;
    width: 50px;
    height: 50px;
    padding: 12px;
    border: 1px solid rgb(52, 152, 219);
    color: rgb(52, 152, 219);
    text-align: center;
    font: 20px Arial, sans-serif;
}

.inputoculto
{
  width: 0px;
  height: 0px;
  border: none;
}
#pri1
{
  height: 350px;
  width: 100%;
}
#alumnosimg
{
  width: 50px;
  height: 50px;
  margin: 5px;
}
.cuadro
{
  border-radius: 6px;
  border: 1px solid rgb(220,220,220);
  background: rgb(255,255,255);
  margin: 5px;
  transition: .7s;
}
.cuadro:hover
{
  background: rgb(255,255,255);
  border: 1px solid rgb(200,200,200);
}
#textcenter
{
  margin: 5px;
  text-align: center;
  font-size: 17px;
  padding: 15px;
}
#textcenterunidad
{
  text-align: center;
  font-size: 19px;
}
.aprobada
{
  color: rgb(72, 201, 176);
  font-size: 17px;
}
.pendiente
{
  color: rgb(236, 112, 99);
  font-size: 17px;
}
.unidadicon
{
  font-size: 25px;
}

.btn-aprobar
{
  border-radius: 4px;
  border: none;
  border: 1px solid rgb(46, 204, 113);
  background: none;
  padding: 5px;
  margin: 15px;
  width: 100%;
  transition: .3s;
}
.btn-denegar
{
  border-radius: 4px;
  border: none;
  border: 1px solid rgb(231, 76, 60);
  background: none;
  padding: 5px;
  margin: 15px;
  width: 100%;
  transition: .3s;
}
.btn-ver
{
  border-radius: 4px;
  border: none;
  border: 1px solid rgb(52, 152, 219);
  background: none;
  padding: 5px;
  margin: 15px;
  width: 100%;
  transition: .3s;
}
.btn-ver:hover
{
  background: rgb(52, 152, 219);
  color: rgb(255,255,255);
}
.btn-denegar:hover
{
  background: rgb(231, 76, 60);
  color: rgb(255,255,255);
}
.btn-aprobar:hover
{
  background: rgb(46, 204, 113);
  color: rgb(255,255,255);
}
