 .modal-header
    {
      background: url(/img/desing/12.jpg);
      height: 100px;
    }
    .modal-header h3
    {
      color: rgb(255, 255, 255);
      font-size: 30px;
    }
    .apo, .uni, .fec, .min, .pre, .nopre, .apoy, .hor, .hoo
    {
      width: 100%;
      outline: none;
      padding: 15px;
      background: none;
      border: none;
      border-bottom: 2px solid rgb(220,220,220);
      color: rgb(52, 152, 219);
      font-size: 15px;
    }
    .apo:focus, .apo:active ,.uni:focus, .uni:active,
    .fec:focus, .fec:active ,.min:focus, .min:active,
    .nopre:focus, .nopre:active, .apoy:focus, .apoy:active,
    .hor:focus, .hor:active, .hoo:focus, .hoo:active
    {
      outline: none;
      border-bottom: 2px solid rgb(52, 152, 219);
      color: rgb(52, 152, 219);
    }

    .btn-button-c
    {
      background: rgb(255,255,255);
      border: none;
      border: 1px solid rgb(192, 57, 43) ;
      width: 150px;
      height: 40px;
      margin: 5px;
      padding: 5px;
      color: rgb(192, 57, 43);
      transition: .6s;
    }
    .btn-button-a
    {
      background: rgb(255,255,255);
      border: none;
      border: 1px solid rgb(39, 174, 96) ;
      width: 150px;
      height: 40px;
      margin: 5px;
      padding: 5px;
      color: rgb(39, 174, 96);
      transition: .6s;
    }
      .btn-button-c:hover
    {
      background: rgb(192, 57, 43);
      color: rgb(255,255,255);
    }
      .btn-button-a:hover
    {
      background: rgb(39, 174, 96);
      color: rgb(255,255,255);
    }
