
.inputoculto
{
  width: 0px;
  height: 0px;
  border: none;
}
#pri1
{
  height: 350px;
  width: 100%;
}
#alumnosimg
{
  width: 50px;
  height: 50px;
  margin: 5px;
}
.cuadro
{
  border-radius: 6px;
  border: 1px solid rgb(220,220,220);
  background: rgb(255,255,255);
  margin: 5px;
  transition: .7s;
}
.cuadro:hover
{
  background: rgb(255,255,255);
  border: 1px solid rgb(200,200,200);
}
#textcenter
{
  margin: 5px;
  text-align: center;
  font-size: 17px;
}
#textcenterunidad
{
  text-align: center;
  font-size: 17px;
}
.aprobada
{
  color: rgb(72, 201, 176);
  font-size: 17px;
}
.pendiente
{
  color: rgb(236, 112, 99);
  font-size: 17px;
}
.unidadicon
{
  font-size: 25px;
}

